<template>
  <div class="enter">
    <h1 class="enter__title">To Do List</h1>
    <input class="enter__color" type="color" v-model="color"/>
      <input class="enter__color" type="color" v-bind:value="color" @input="handleOfSetColor"/>
    <input class="enter__text" type="text" v-model="newItem" placeholder="Enter the action"/>
    <button class="enter__btn" v-on:click="pushItem">Add</button>
    <button class="enter__btn"  v-on:click="list.splice({text: newItem})">Clear all</button>
    <ol class="list">
      <li :style="{color: item.color}"
          v-for="item in list"
      >
        {{ item.text }}
        <button class="list__btn" v-on:click="list.splice(list.indexOf(item), 1)">Remove</button>
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  name: 'enter',
    data() {
      return {
          list: [],
          newItem: '',
          color: '',
      }
    },
    methods: {
      pushItem: function () {
          let tt = this.newItem.trim();
          if (tt.length > 0) {
              const z = {text: this.newItem, color: this.color};
              this.list.push(z);
              this.newItem = '';
              console.log(this.newItem);
          }
      },
        handleOfSetColor: function(event) {
            this.color = event.target.value;
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
